@import "./colors.scss";

.card-container {
  width: 15rem;
  padding: 4rem 0;
  background-color: $background-color-card;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clock-color;
  border-radius: 10px;
  
  h1 {
    font-size: 4rem;
  }
}