.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
  background-image: url("../assets/bg-stars.svg");

  .main-content {
    width: 70vw;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .card-container {
      margin: 0 0.3rem;
      box-shadow: 0 0 0.3rem black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        opacity: 0.9;
        color: white;
        transition: 500ms;
      }

      .card-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .increment {
          color: rgb(255, 219, 88);;
          cursor: pointer;
          font-size: 2rem;

          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .decrement {
          color: rgb(255, 219, 88);
          cursor: pointer;
          font-size: 2rem;

          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
    }
  }

  .start-timer {
    background-color: rgb(255, 219, 88);
    padding: 0.5rem;
    border: none;
    margin-right: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      opacity: 0.9;
      font-weight: bold;
      transition: 200ms;
    }
  }

  .stop-timer {
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 105, 97);

    &:hover {
      opacity: 0.9;
      transition: 200ms;
    }  
  }
}
